.navbar{
    padding: 10px 0px;
    a{
        text-decoration: none;
    }
    h1{
        font-family: Noto Sans;
        font-size: 30px;
        line-height: 34px;
        color:$primary-color;
        font-weight: bold;
    }
     .container{
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
     .navbarList{
         display: flex;
         li{
             margin-right: 10px;
         }
         li:last-child{
             margin-right: 0;
         }
         a{
             text-decoration: none;
             display: block;
             color:#666666;
         }
         .memberAction a{
             display:none;
         }
         .memberAction a.active{
             display:block;
         }
     }
 }
 
 @media(max-width:1200px){
     .navbar{
         .container{
             padding:0px 10px;
         }
     }
 }



 .footer{
    background: $secondary-color;
    
    text-align: center;
    p{  
        font-weight: bold;
        color:white;
        padding: 45px 0px;
    }
}





/*effect-underline*/

.navbarList a{
    position: relative;
}
.navbarList a:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0,1);
}

.navbarList a:hover:after {
  opacity: 1;
  transform: scale(1);
}
