@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import "cssReset";
@import "layout";
@import "modal";
@import "share";


.attraction.active{
    display:block;
}

.attraction{
    display:none;
    margin-bottom: 120px;
    .main{
        display:flex;
        justify-content: space-around;
        padding:37px 15px;
        border-top:1px solid  #E8E8E8;
        border-bottom:1px solid  #E8E8E8;
        margin-bottom: 50px;
       
        .carouselContainer{
            position: relative;
            width: 540px;
            border-radius: 5px;
            margin-right: 30px;
            display:flex;
            justify-content: center;;
            .carousel{
                position: absolute;
                height: 100%;
                width: 100%;
                opacity:0;  
                img{
                     width: 100%;
                     height: 406px;
                     object-fit: cover;
                }
            }
            .carousel.active{
                position: static;
                opacity:1;
                transition: opacity  2s;
            }
            .prev{
                cursor: pointer;
                position: absolute;
                top:50%;
                margin-top: -18px;
                left:10px;
                display:inline-block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-image: url(../../static/images/btn_leftArrow.png);
                opacity: 0.7;
            }
            .next{
                cursor: pointer;
                position: absolute;
                top:50%;
                margin-top: -18px;
                right:10px;
                display:inline-block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-image: url(../../static/images/btn_rightArrow.png);
                opacity: 0.7;
            }
            .dotContainer{
                position: absolute;
                bottom:10;
                .dot{
                    display:inline-block;
                    margin-right: 6px;
                    width: 12px;
                    height: 12px;
                    background: white;
                    opacity: 0.9;
                    border-radius: 50%;
                    transition: background-color 0.6s ease;
                }
                .dot:last-child{
                    margin-right: 0;
                }
                .dot.active{
                    background: #000;
                    border:1.5px solid white;
                }
            }

        }
       
        .order{
            flex-grow: 1;
            flex-shrink: 1;
            display:flex;
            flex-direction: column;
            color:#666666;
            padding:8px 0;
            .title{
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            .info{
                margin-bottom: 20px;
            }
            .orderForm{
                flex-grow: 1;
                background: #E8E8E8;
                padding:15px 20px 5px 20px;
                border-radius: 5px;
                line-height: 28px;
                label{
                    margin-bottom: 15px;
                }
        
                .timeRadio:after {
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    top: -2px;
                    left: -1px;
                    position: relative;
                    background-color: white;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                }
            
                .timeRadio:checked:after {
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    top: -2px;
                    left: -1px;
                    position: relative;
                    background-color: $primary-color;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }
                .addBookingSubmit{
                    font-size: 19px;
                    border:0;
                    margin-top: 15px;
                    border-radius: 5px;
                    padding:7px 20px;
                    color:white;
                    background: $primary-color;
                    cursor: pointer;
                }

                .addBookingSubmit:hover{
                    background: #4793a6;
                }
            }
        }
    }
    .content{
        line-height: 30px;
        padding:0 15px;
        .introTxt{
            margin-bottom: 20px;
        }
    }
}

@media(max-width:720px){
    
    .attraction{
        .main{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .carouselContainer{
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
            .order{  
                .title, .info{
                    padding-left: 20px;
                }
                .orderForm{
                    padding-bottom: 15px;
                    line-height: 23.17px;
                }
            }
        }
        .content{
            padding: 0px 35px;
        }
    }
}