{% extends "base.html"%}


    {%  block css%}
    <link rel="stylesheet" href="../static/css/attraction.css">
    {% endblock%}

    {%  block main%}

    <div class="loading">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
         </svg>
    </div>


    <div class="attraction container active">
        <div class="main">
            <div class="carouselContainer">
               <a href="javascript:;" class="prev" ></a> 
               <a href="javascript:;" class="next" ></a> 

               
               <div class="dotContainer">
               </div>
            </div> 
            <div class="order">
                <h2 class="title"></h2>
                <p  class="info"></p>
                <form action="" class="orderForm">
                    <p class="ft-bold mb-15">訂購導覽行程</p>
                    <p class="mb-15">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class="input-group mb-15">
                        <label class="ft-bold mb-15" for="date">選擇日期：</label>
                        <input type="date" id="date" placeholder="yyyy-mm--dd" required>
                    </div>
                    <div class="input-group mb-15">
                        <label class="ft-bold mb-15" for="time">選擇時間：</label>
                        <input type="radio" class="timeRadio AM" name="time" value="morning" checked required></label>
                        <label for="AM">上半天</label>
                        <input type="radio" class="timeRadio PM" name="time" value="afternoon" ></label>
                        <label for="PM">下半天</label>
                    </div>
                    <div class="input-group mb-15">
                        <label class="ft-bold" for="cost">導覽費用：</label>
                        <span class="cost">新台幣 2000 元</span>
                    </div>
                    <button class="addBookingSubmit" type="submit">開始預訂行程</button>
                </form>
            </div>         
        </div>

        <div class="content">
            <p class="introTxt description"></p>
            <p class="ft-bold contentAddressTitle">景點地址：</p>
            <p class="introTxt contentAddress"></p>
            <p class="ft-bold">交通方式：</p>
            <p class="transport"></p>
        </div>
    </div>
    {% endblock %}

    

    {%  block javascript%}
    <script type="module" src="../static/js/attraction.js"></script>
    <script src="../static/js/member.js"></script>
    <script type="module" src="../static/js/navbar.js"></script>  
    {% endblock%}
