<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    
    <title>123</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1>台北一日遊</h1>
            <ul class="navbarList">
                <li>
                    <a href="#">預定行程</a>
                    
                </li>
                <li>
                    <a href="#">登入/註冊</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="banner">
        <div class="container">
            <img class="bannerImg" src="../static/images/welcome 1.png" alt="">
            <div class="bannerMessage">
                <h2>輕鬆享受台北一日悠閒</h2>
                <p>探索每個角落，體驗城市的深度旅遊行程</p>
                <div class="searchBar">
                    <input class="keywordInput" id="keywordInput" type="text" placeholder="輸入景點名稱查詢">
                    <a href="javascript:;" id="searchBtn">
                        <img src="../static/images/icon_search.png" alt="" width="30" height="30">
                    </a>
                </div>

                  
            </div>
            
        </div>
      

        
    </div>

    <div class="main container">
        <ul class="mainList">
            <li>
                <img src="../static/images/Picture.png" alt="">
                <h3>平安鐘</h3>
                <div class="mainListInfo">
                    <p>忠孝復興</p>
                    <p>公共藝術</p>
                </div>
            </li>     
        </ul>
    </div>

    <div class="footer">
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </div>
</body>

</html>

<script src="../static/js/index.js"></script>