{% extends "base.html"%}


    {%  block css%}
    <link rel="stylesheet" href="../static/css/index.css">
    {% endblock%}

    {%  block banner%}
    <div class="banner">
        <div class="container">
            <img class="bannerImg" src="../static/images/welcome 1.png" alt="">
            <div class="bannerMessage">
                <h2>輕鬆享受台北一日悠閒</h2>
                <p>探索每個角落，體驗城市的深度旅遊行程</p>
                <div class="searchBar">
                    <input class="keywordInput" id="keywordInput" type="text" placeholder="輸入景點名稱查詢">
                    <a href="javascript:;" id="searchBtn">
                        <img src="../static/images/icon_search.png" alt="" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>      
    </div>
    {%  endblock %}

    {%  block main%}
    <div class="main container">
        <ul class="mainList">
        </ul>
    </div>
    {% endblock %}

    

    {%  block javascript%}
    <script type="module" src="../static/js/index.js"></script>
    <script src="../static/js/member.js"></script>
    {% endblock%}


   
    
